<div class="card container">
  <div class="row align-items-baseline">
    <div class="col-3 col-md-5">
      {{formatTime()}}
    </div>
    <div class="col-8 col-md-6">
      <div>Patient: {{appointment.patientId}}</div>
    </div>
    <div class="col-1 float-right">
      <fa-icon (click)="delete.emit(appointment)" [icon]="deleteIcon"></fa-icon>
    </div>
  </div>
</div>